* {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

body {
  backround: black;
  color: #f2f2f2;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.zone {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fill {
  height: 100%;
}

.center {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #222;
  text-decoration: none;
}

a.scroll-down {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(/ona/img/scroll-down-arrow.png);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

a.scroll-down span {
  display: none;
}

.next {
  width: 64px;
  height: 64px;
  background-image: url(/ona/img/scroll-down-arrow.png);
  position: absolute;
  bottom: 30px;
  left: 50%;
}

/* menu / logo */

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

#menu img#logo {
  margin: 10px;
  width: 150px;
  height: 150px;
}

#menu:hover {
  background-color: #494949;
}

#menu #menu-links {
  display: none;
}

#menu:hover #menu-links {
  display: block;
}

#menu #menu-links:hover {
  background-color: #494949;
  display: block;
}

#menu #menu-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#menu #menu-links a:hover {
  background-color: black;
  color: white;
}

/* about us*/
#zone-1 {
  background-color: #404040;
  background-image: url(/ona/img/photo-0.jpg);
}

#zone-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0.7;
  padding: 1em 5em;
  width: 50%;

}

#zone-1 p {
  text-align: center;
  color: black;
  opacity: 1;
}

/* methodology */
#zone-2 {
  background-color: #202020;
  background-image: linear-gradient(#454547, #756851, #fafaf9);
}

#methodology {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  height: 75%;
  top: 10%;
  /* margin: auto; */
  /* padding-top: 1em; */
}

#methodology .cell {
  position: relative;
  overflow: hidden;
}

#methodology .method {
  cursor: pointer;
}

#methodology .cell h2 {
  text-align: center;
  width: 100%;
  top: 50%;
  position: absolute;
}

#methodology .method .hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 17px;
  background-color: #4d4a45;
  display: none;
}

#methodology .method .clicker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#methodology .method {
  background-color: #4d4a4577;
  padding: 5px;
}

#methodology .method h2 {
  font-size: 1.1em;
  padding-bottom: 5px;
}

#methodology .method p {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 1em;
  line-height: 1.3em;
}

#methodology #method-0 h2 {
  position: absolute;
  top: 50%;
}


/* clients*/
#zone-3 {
  background-color: #fff;
}

#clients {
  display: grid;
  grid-gap: 10px;
  height: fit-content;
  margin: auto;
  margin-top: 5em;
  width: fit-content;
  grid-template-columns: auto auto auto;
}

#clients .cell {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px;
}

#clients #client-0 { background-image: url(/ona/img/client-logo-0-renault.png); }
#clients #client-1 { background-image: url(/ona/img/client-logo-1-ustwo.png); }
#clients #client-2 { background-image: url(/ona/img/client-logo-2-bfi.png); }
#clients #client-3 { background-image: url(/ona/img/client-logo-3-futurice.png); }
#clients #client-4 { background-image: url(/ona/img/client-logo-4-tate.png); }
#clients #client-5 { background-image: url(/ona/img/client-logo-5-haymarket.png); }
#clients #client-6 { background-image: url(/ona/img/client-logo-6-deepmind.png); }
#clients #client-7 { background-image: url(/ona/img/client-logo-7-fresnius.png); }
#clients #client-8 { background-image: url(/ona/img/client-logo-8-tiff.png); }

/* video */
#zone-4 {
  background-color: #404040;
}

#video {
  height: 90%;
  margin: auto;
  background-color: #000;
}


/* case studies */
#zone-5 {
  background-color: #fff;
}

#zone-5 .fill {
  height: 90%;
}

#case-studies {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  height: 90%;
}

#case-studies .cell {
  box-shadow: 8px 8px 8px #ddd;
}

#zone-5 h1 {
  padding-top: 5px;
  color: #000;
}

#case-studies h2 {
  text-align: center;
  padding: 1em 0;
  color: #000;
}

#case-studies p {
  color: #000;
  text-align: center;
  font-size: 0.9em;
}

#case-studies .cell .hover {
  padding: 5px;
}

.content h1 {
  background-color: white;
  padding: 5px;
  display: inline-block;
}

#case-studies .cell a {
  display: block;
  height: 50%;
  /*background-color: #eee;*/
}

/*
#case-studies .cell a:hover {
  background-color: transparent;
} */


/* clients */

ul#clients {
  padding-top: 1em;
  padding-bottom: 1em
}

ul#clients li {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

ul#clients li#client-0 { background-image: url(/ona/img/logo-00.png); }
ul#clients li#client-1 { background-image: url(/ona/img/logo-01.png); }
ul#clients li#client-2 { background-image: url(/ona/img/logo-02.png); }
ul#clients li#client-3 { background-image: url(/ona/img/logo-03.png); }
ul#clients li#client-4 { background-image: url(/ona/img/logo-04.png); }
ul#clients li#client-5 { background-image: url(/ona/img/logo-05.png); }
ul#clients li#client-6 { background-image: url(/ona/img/logo-06.png); }
ul#clients li#client-7 { background-image: url(/ona/img/logo-07.png); }
ul#clients li#client-8 { background-image: url(/ona/img/logo-08.png); }
ul#clients li#client-9 { background-image: url(/ona/img/logo-09.png); }
ul#clients li#client-10 { background-image: url(/ona/img/logo-10.png); }
ul#clients li#client-11 { background-image: url(/ona/img/logo-11.png); }


/* links */ 
#zone-6 {
  background-color: #505050;
  background-image: url(/ona/img/photo-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#blurb {
  padding-top: 8em;
}

#blurb p {
  padding-top: 3em;
  text-align: center;
}

#links {
  position: absolute;
  width: 1000px;
  bottom: 7em;
}

#links .link {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#links .link a {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-decoration: none;
}

#links #vimeo { margin-left: 20px; }
#links #instagram a { background-image: url(/ona/img/link-instagram.png); }
#links #vimeo a     { background-image: url(/ona/img/link-vimeo.png); }

#links #email {
  position: absolute;
  right: 0;
  top: 0;
}

#links #email p {
  text-align: center;
}

#copyright {
  position: absolute;
  bottom: 10px;
  width: 1000px;
}

#copyright p {
  text-align: center;
  font-size: 0.9em;
  opacity: 0.9;
}

