* {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

body {
  backround: black;
  color: #f2f2f2;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.zone {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.fill {
  /* height: 100%; */
}

.center {
  /*
  width: 1000px;
  margin: 0 auto;
  */
}

@media only screen and (max-width: 600px) {
  .center {
    width: 100%;
  }
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #222;
  text-decoration: none;
}

a.scroll-down {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(/ona/img/scroll-down-arrow.png);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

a.scroll-down span {
  display: none;
}

.next {
  width: 64px;
  height: 64px;
  background-image: url(/ona/img/scroll-down-arrow.png);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* menu / logo */

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

#menu img#logo {
  margin: 10px;
  width: 100px;
  height: 100px;
}

#menu:hover {
  background-color: #494949;
}

#menu #menu-links {
  display: none;
}

#menu:hover #menu-links {
  display: block;
}

#menu #menu-links:hover {
  background-color: #494949;
  display: block;
}

#menu #menu-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#menu #menu-links a:hover {
  background-color: black;
  color: white;
}

/* about us*/
#zone-1 {
  background-color: #404040;
  background-image: url(/ona/img/mob/photo-0.jpg);
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #zone-1 {
    /* background-image: none; */
  }
}

#zone-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0.7;
  padding: 1em 5em;
  width: 50%;

}

#zone-1 p {
  text-align: center;
  color: black;
  opacity: 1;
}

/* methodology */
#zone-2 {
  background-color: #202020;
  /*background-image: linear-gradient(#454547, #756851, #fafaf9);*/
}

#methodology {
  padding: 2em 0;
}

@media only screen and (max-width: 600px) {
  #methodology {
  }
}

#methodology .cell {
  position: relative;
}

#methodology .method {
}

#methodology .cell h2 {
  text-align: center;
}

#methodology .method .hover {
  display: none;
}

#methodology .method .clicker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#methodology .method {
  /*background-color: #4d4a4577; */
  padding: 5px;
}

#methodology .method h2 {
  font-size: 1.1em;
  padding-bottom: 5px;
}

#methodology .method p {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 1em;
  line-height: 1.3em;
}

#methodology #method-0 h2 {
}


/* clients*/
#zone-3 {
  background-color: #fff;
}

#clients {
}

#clients .cell {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

#clients #client-0 { background-image: url(/ona/img/client-logo-0-renault.png); }
#clients #client-1 { background-image: url(/ona/img/client-logo-1-ustwo.png); }
#clients #client-2 { background-image: url(/ona/img/client-logo-2-bfi.png); }
#clients #client-3 { background-image: url(/ona/img/client-logo-3-futurice.png); }
#clients #client-4 { background-image: url(/ona/img/client-logo-4-tate.png); }
#clients #client-5 { background-image: url(/ona/img/client-logo-5-haymarket.png); }
#clients #client-6 { background-image: url(/ona/img/client-logo-6-deepmind.png); }
#clients #client-7 { background-image: url(/ona/img/client-logo-7-fresnius.png); }
#clients #client-8 { background-image: url(/ona/img/client-logo-8-tiff.png); }

/* video */
#zone-4 {
  background-color: #404040;
}

#video {
  /* height: 90%; */
  padding: 2em 0;
  margin: auto;
  background-color: #000;
}


/* case studies */
#zone-5 {
  background-color: #fff;
}

#zone-5 .fill {
  /* height: 90%; */
}

#case-studies {
  /* display: grid; */
  /* grid-gap: 20px; */
  /* grid-template-columns: 50% 50%; */
  /* height: 90%; */
}

#case-studies .cell {
  box-shadow: 8px 8px 8px #ddd;
  margin: 1em;
}

#zone-5 h1 {
  padding-top: 5px;
  color: #000;
}

#case-studies h2 {
  text-align: center;
  padding: 1em 0;
  color: #000;
}

#case-studies p {
  color: #000;
  text-align: center;
  font-size: 0.9em;
}

#case-studies .cell .hover {
  padding: 5px;
}

.content h1 {
  background-color: white;
  padding: 5px;
  display: inline-block;
}

#case-studies .cell a {
  display: block;
  height: 50%;
  /*background-color: #eee;*/
}

/*
#case-studies .cell a:hover {
  background-color: transparent;
} */



/* links */ 
#zone-6 {
  background-color: #505050;
  background-image: url(/ona/img/mob/photo-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#blurb {
  padding-top: 8em;
  padding-bottom: 20em;
}

#blurb p {
  padding-top: 3em;
  text-align: center;
}

#links {
  position: absolute;
  /* width: 1000px; */
  width: 100%;
  text-align: center;
  bottom: 7em;
}

#links .link {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#links .link a {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-decoration: none;
}

#links #vimeo { margin-left: 20px; }
#links #instagram a { background-image: url(/ona/img/link-instagram.png); }
#links #vimeo a     { background-image: url(/ona/img/link-vimeo.png); }

#links #email {
  margin-top: 1em;
  /*
  position: absolute;
  right: 0;
  top: 0;
  */
}

#links #email p {
  text-align: center;
}

#copyright {
  position: absolute;
  bottom: 10px;
  width: 100%;
  /* width: 1000px; */
}

#copyright p {
  text-align: center;
  font-size: 0.9em;
  opacity: 0.9;
}

